@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


.feature{  
   padding: 2.5rem;
      &__title{
         color: #222;
         font-size: 1.25rem;
         font-weight: bold;
         margin-bottom: 1rem;
      }
   
   &__icon{
      width: 150px;
      border: 10px solid #00bc77;
      border-radius: 50%;
      padding: 1rem;
      margin-bottom: 1.2rem;
    }
}