@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.sign-in-button {
   display: block;
   width: 100%;
   padding: 8px;
   font-size: 1.1rem;
   font-weight: bold;
   margin-top: 1rem;
   border-color: #00bc77;
   background-color: #00bc77;
   color: #fff;
   border: none;
}

.cancel{
   border-color: hsl(2, 100%, 37%);
   background-color: hsl(2, 100%, 37%);
}

.input-wrapper {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin-bottom: 1rem;
}

.input-wrapper label {
   font-weight: bold;
}
 
.input-wrapper input {
   padding: 5px;
   font-size: 1.2rem;
}

.formupdate{
   width: 500px;
   margin-bottom: 40px;
   @include responsive (smartphone) {
      width: 80%;
   }  
   .form-button{
      @include flex(row, space-between , 0);      
      button{
         width: 45%;
      }
      @include responsive (smartphone) {
         @include flex(column, space-between , 0);  
         button{
            width: 100%;
         }
      } 
   }
   
}